@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
*{
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body{
  background: #000;
}

.cont{
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr{
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255,255,255,.1);
}
/*Titles */
div.title{
  font-size: 2em;
}

div.titleq {
  font-size: 1.6em;
}

div.titlew {
  font-size: 2em;
}

div.username {
  font-size: 2em;
}
 div.skills {
  font-size: 2em;
}
div.age {
  font-size: 2em;
}
div.discord {
  font-size: 2em;
}
div.region {
  font-size: 2em;
}
.examples {
  font-size: 0.5em;
  color: #Fd4;
}
/*Titles end*/
h1 span{
  font-weight: 300;
  color: #Fd4;
}

div.stars{
  width: 270px;
  display: inline-block;
}
/* other */
.rev-box{
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}

textarea.review{
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #EEE;
}

label.review{
  display: block;
  transition:opacity .25s;
}



input.star:checked ~ .rev-box{
  height: 125px;
  overflow: visible;
}
/* Submit button */
.buttons {
	overflow: hidden;
}

.buttons .dark {
  left: 50%;
}

.buttons a {
  display: inline-block;
}

a#link {position: absolute; left: 20px; bottom: 10px; text-decoration: none; color: #555; font-weight: bold;}

.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-mid {
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn:hover,
input[type="submit"]:hover{
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.btn-white{
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-color{
    background: transparent;
}
.btn-color:hover{
    color: #fff;
}
/* Textarea */
textarea {
  resize: none;
  font-size: 48px;
  background-color: grey;
  color: white;
  width: 300px;
  height: 80px;
}
/* title */
p.welcome {
  color: aqua;
  font-family: fantasy;
}